@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: "Press Start 2P";
    background-image: url("./imagenes/1151757.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
   color: #ff1bbb;
   font-size: 72px;
   -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 0px 13px 91px #282828;
}

.subtitulo {
    color: rgb(255, 82, 235);
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 0px 6px 11px #282828;
}


.tarjetas {
    display: flex;
    gap: 10px;
    
}
.tarjeta-de-mokepon {
    width: 190px;
    height: 59px;
    color: white;
    background: #ff84ed;
    padding: 14px;
    box-sizing: border-box;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ff1bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-mascota {
    height: 51px;
    width: 179px;
    border-radius: 40px;
    background: transparent;
    border: 3px solid white;
    color: white;
}


input {
    display: none;
}




